@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #480CA8;
  --light-blue: #669BBC;
  --gray: #FDF0D5;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.fredoka-400 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.fredoka-700 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.primary-bg {
  @apply bg-blue-950 text-white;
}

.searchInputDiv {
  @apply flex items-center justify-center;
}

.navSide {
  @apply flex items-center p-4;
}

.searchInputDiv {
  padding: 3px;
  border: solid 1px var(--gray);
  border-radius: 6px;
}

.searchInputDiv input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--gray);
}

.searchInputDiv input::placeholder {
  color: var(--gray);
}

.heartIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: solid 1px var(--gray);
  border-radius: 6px;
  cursor: pointer;
}

.iconBagDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: solid 1px var(--gray);
  border-radius: 6px;
  cursor: pointer;
}

.iconBagDiv:hover,
.heartIconDiv:hover {
  background-color: var(--light-blue);
}